:root {
  --main-color: #27445d;
  --footer-color: #4d81af;
  --content-width: 90vw;
  --menu-width: calc(100vw - var(--content-width));
  font-family: Roboto;
  color: white;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header,
footer {
  display: flex;
  flex-grow: 0;
  box-shadow: 0 0 0.5rem black;
  background-color: var(--footer-color);
}

header > h1 {
  padding-left: 1rem;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.menu {
  background-color: var(--footer-color);
  display: flex;
  flex-direction: column;
  width: var(--menu-width);
}

.content {
  width: var(--content-width);
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

.entry {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(92, 65, 33);
  width: auto;
}

footer {
  display: flex;
  justify-content: center;
}
